.banner
{
	padding-top: 42%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&--text
	{
		position: relative;

		& > div
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-color: black;
			display: flex;

			& > *
			{
				margin: auto;
				color: white;
				font-weight: 700;
				font-size: rem(24);
				text-align: center;
			}
		}
	}
}