.form-group {
  @extend .w-full;
  @extend .mb-2;

  & label {
    @extend .block;
  }

  & input, & select, & textarea {
    @extend .w-full, .bg-white, .text-sm, .rounded, .no-border, .px-2, .py-4, .mt-2;
  }
}
