// Border, border-radius and shadow and overflow, position, opacity

// Shadow
.shadow-none
{
	box-shadow: none;
}

.shadow
{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-md
{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.shadow-lg
{
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-xl
{
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.shadow-inner
{
	box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.shadow-r-inset
{
	box-shadow: inset -4px 0px 4px 0px rgba(0,0,0,0.155);
}

.shadow-b
{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

// Border radius
.rounded-none
{
	border-radius: 0;
}

.rounded-sm
{
	border-radius: 0.125rem;
}

.rounded
{
	border-radius: 0.25rem;
}

.rounded-lg
{
	border-radius: 0.5rem;
}

.rounded-full
{
	border-radius: 9999px;
}

// Border and border style

.no-border
{
	border: none;
}

.border
{
	border: 1px solid;
}

.border-2
{
	border: 2px solid;
}

.border-t
{
	border-top: 1px solid;
}

.border-l
{
	border-left: 1px solid;
}

.border-l-2
{
	border-left: 2px solid;
}

.border-b
{
	border-bottom: 1px solid;
}

.border-b-2
{
	border-bottom: 2px solid;
}

.border-r
{
	border-right: 1px solid;
}

// Border color
.border-transparent
{
	border-color: transparent;
}

.border-white
{
    border-color: white;
}

.border-danger
{
    border-color: $danger;
}

.border-primary
{
    border-color: $primary;
}

.border-secondary
{
    border-color: $secondary;
}

.border-warning
{
    border-color: $warning;
}

.border-success
{
    border-color: $success;
}

.border-gray-1
{
    border-color: $gray-1;
}

// Overflow
.overflow-auto
{
	overflow: auto;
}

.overflow-hidden
{
	overflow: hidden;
}

.overflow-visible
{
	overflow: visible;
}

.overflow-scroll
{
	overflow: scroll;
}

.overflow-x-auto
{
	overflow-x: auto;
}

.overflow-x-hidden
{
	overflow-x: hidden;
}

.overflow-x-visible
{
	overflow-x: visible;
}

.overflow-x-scroll
{
	overflow-x: scroll;
}

.overflow-y-auto
{
	overflow-y: auto;
}

.overflow-y-hidden
{
	overflow-y: hidden;
}

.overflow-y-visible
{
	overflow-y: visible;
}

.overflow-y-scroll
{
	overflow-y: scroll;
}

// Position
.static
{
	position: static;
}

.fixed
{
	position: fixed;
}

.absolute
{
	position: absolute;
}

.relative
{
	position: relative;
}

.sticky
{
	position: sticky;
}

.visible
{
	visibility: visible;
}

.invisible
{
	visibility: hidden;
}

// Opacity
.opacity-100
{
	opacity: 1;
}

.opacity-75
{
	opacity: 0.75;
}

.opacity-50
{
	opacity: 0.5;
}

.opacity-25
{
	opacity: 0.25;
}

.opacity-0
{
	opacity: 0;
}

// Object position form image
.object-top 
{
	object-position: top;
}

.object-cover
{
	object-fit: cover;
}

.object-contain
{
	object-fit: contain;
}

// Zoom
.zoom-on-hover:hover
{
	transition: ease 1s;
	transform: scale(1.1);
}

.shadow-on-hover:hover
{
	opacity: 0.7;
}