.flex
{
    display: flex;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex-row
{
    flex-direction: row;
}

.flex-col
{
    flex-direction: column;
}

.flex-1
{
    flex: 1;
}

.flex-no-wrap
{
    flex-wrap: nowrap;
}

.flex-wrap
{
    flex-wrap: wrap;
}

.items-start
{
    align-items: flex-start;
}

.items-center
{
    align-items: center;
}

.content-start
{
    align-content: flex-start;
}

.content-center
{
    align-content: center;
}

.content-end
{
    align-content: flex-end;
}

.content-between
{
    align-content: space-between;
}

.content-around
{
    align-content: space-around;
}

.justify-start
{
    justify-content: flex-start;
}

.justify-center
{
    justify-content: center;
}

.justify-end
{
    justify-content: flex-end;
}

.justify-between
{
    justify-content: space-between;
}

.justify-around
{
    justify-content: space-around;
}

.justify-evenly
{
    justify-content: space-evenly;
}