
/**
 * Framework CSS
 * Définir 3 breakpoints : Mobile - Tablette - Desktop
 * Mobile first
*/

*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  font-family: $font-family-1;
}

p
{
  line-height: 1.2em;
  font-size: inherit;
}

a
{
  font-size: inherit;
}

table
{
  table-layout: auto;
  width: 100%;
  overflow-wrap: break-word;
}

// Define color for all
:root
{
  --danger:     $danger;
  --primary:    $primary;
  --secondary:  $secondary;
  --warning:    $warning;
  --success:    $success;
}
