@media screen and (min-width: $size-md) {
	.show-on-phone
	{
		display: none;
	}
}

@media screen and (max-width: $size-lg) {
	.show-on-computer
	{
		display: none;
	}
}

@media screen and (min-width: $size-sm) and (max-width: $size-md) {
	.show-on-tablet
	{
		display: none;
	}
}

@media screen and (max-width: $size-sm) {
	.show-on-tablet
	{
		display: none;
	}
}

@media screen and (min-width: $size-lg) {
	.show-on-tablet
	{
		display: none;
	}
}

@media screen and (max-width: $size-md) {
    .show-min-tablet
    {
        display: none;
    }
}

@media screen and (min-width: $size-lg) {
    .show-max-tablet
    {
        display: none;
    }
}