// Width
.w-px
{
	width: 1px;
}

.w-0
{
  width: 0;
}

.w-1
{
  width: 0.25rem;
}

.w-2
{
  width: 0.5rem;
}

.w-4
{
  width: 1rem;
}

.w-6
{
  width: 1.5rem;
}

.w-8
{
  width: 2rem;
}

.w-10
{
  width: 2.5rem;
}

.w-1\/2
{
	width: 50%;
}

.w-1\/3
{
	width: 30.333333%;
}

.w-1\/4
{
	width: 25%;
}

.w-1\/5
{
	width: 20%;
}

.w-auto
{
	width: auto;
}

.w-full
{
	width: 100%;
}

.w-screen
{
	width: 100vw;
}

// Min width : borne inférieur pour width et maw-width : borne supérieur pour width

.min-w-0
{
	min-width: 0;
}

.min-w-full
{
	min-width: 100%;
}

.max-w-full
{
	max-width: 100%;
}

.max-w-xs
{
	max-width: 16rem;
}

.max-w-sm
{
	max-width: 20rem;
}

.max-w-md
{
	max-width: 24rem;
}

.max-w-screen-sm
{
	max-width: $size-sm;
}

.max-w-screen-md
{
	max-width: $size-md;
}

.max-w-screen-lg
{
	max-width: $size-lg;
}

// Height

.h-0
{
  height: 0;
}

.h-1
{
	height: 0.25rem;
}

.h-2
{
	height: 0.5rem;
}

.h-4
{
	height: 1rem;
}

.h-6
{
	height: 1.5rem;
}

.h-8
{
	height: 2rem;
}

.h-10
{
	height: 2.5rem;
}

.h-12
{
	height: 50%;
}

.h-13
{
	height: 33.333333%;
}

.h-14
{
	height: 25%;
}

.h-15
{
	height: 20%;
}

.h-auto
{
	height: auto;
}

.h-px
{
	height: 1px;
}

.h-full
{
	height: 100%;
}

.h-screen
{
	height: 100vh;
}

// Min height : borne inférieur pour height et max-width : borne supérieur pour height

.min-h-0
{
	min-height: 0;
}

.min-h-full
{
	min-height: 100%;
}

.min-h-screen
{
	min-height: 100vh;
}

.max-h-full
{
	max-height: 100%;
}

.max-h-screen
{
	max-height: 100vh;
}