//Define all style in to typography

// Font family
.font-1
{
  font-family: $font-family-1;
}

.font-2
{
  font-family: $font-family-2;
}

.font-3
{
  font-family: $font-family-3;
}

// Font size
$font-sizes: (
		"xs": 0.75rem,
		"sm": 0.875rem,
		"normal": 1rem,
		"lg": 1.125rem,
		"xl": 1.25rem,
		"2xl": 1.5rem,
		"3xl": 1.875rem,
		"4xl": 2.5rem,
		"5xl": 3.5rem,
	);
@each $size-text, $size-value in $font-sizes {
	
	.text-#{$size-text} {
		font-size: $size-value;
	}
}
	
// Font style

.italic
{
  font-style: italic;
}

.not-italic
{
  font-style: normal;
}

// Font weight
.font-100
{
	font-weight: 100;
}

.font-200
{
	font-weight: 200;
}

.font-300
{
	font-weight: 300;
}

.font-lighter
{
	font-weight: lighter;
}

.font-normal
{
	font-weight: normal;
}

.font-medium
{
	font-weight: 500;
}

.font-semibold
{
	font-weight: 600;
}

.font-bold
{
	font-weight: 700;
}

.font-black
{
	font-weight: 900;
}

// letter spacing : Espacement entre les lettres
.space-tight
{
	letter-spacing: -0.025em;
}

.space-normal
{
	letter-spacing: normal;
}

.space-wide
{
	letter-spacing: 0.025em;
}

.space-wider
{
	letter-spacing: 0.05em;
}

.space-widest
{
	letter-spacing: 0.1em;
}

// Line height : Hauteur des boites ou du textes.

.line-none
{
	line-height: 1;
}

.line-normal
{
	line-height: 1.5;
}

.line-relaxed
{
	line-height: 1.625;
}

.line-loose
{
	line-height: 1.85;
}

// List style type pour l'apparence de la puce d'un element de liste
// List style position : position d'une puce par rapport a la boite de la ul

.list-none
{
	list-style-type: none;
}

.list-inside
{
	list-style-position: inside;
}

.list-inside
{
	list-style-position: outside;
}


// Text-align : Alignment
.text-left
{
	text-align: left;
}

.text-center
{
	text-align: center;
}

.text-right
{
	text-align: right;
}

.text-justify
{
	text-align: justify;
}

// Text color

.text-black
{
	color : black;
}

.text-white
{
	color : white;
}

.text-danger
{
	color : $danger;
}

.text-primary
{
	color : $primary;
}

.text-secondary
{
	color : #4A5568;
}


.text-warning
{
	color : $warning;
}

.text-success
{
	color : $success;
}

.text-blue-1
{
	color : $blue-1;
}

.text-blue-2
{
	color : $blue-2;
}

.text-blue-3
{
	color : $blue-3;
}

.text-blue-4
{
	color : $blue-4;
}

.text-red-1
{
	color : $red-1;
}

.text-gray-1
{
	color : $gray-1;
}

.text-gray-2
{
	color : $gray-2;
}

.text-gray-3
 {
	 color : $gray-3;
 }

.text-gray-4
{
	color : #A0AEC0;
}

// SVG Color

.text-svg-danger
{
	fill : $danger;
}

.text-svg-primary
{
	fill : $primary;
}

.text-svg-secondary
{
	fill : #4A5568;
}

.text-svg-warning
{
	fill : $warning;
}

.text-svg-success
{
	fill : $success;
}

.text-svg-blue-1
{
	fill : $blue-1;
}

.text-svg-blue-2
{
	fill : $blue-2;
}

.text-svg-blue-3
{
	fill : $blue-3;
}

.text-svg-blue-4
{
	fill : $blue-4;
}

.text-svg-red-1
{
	fill : $red-1;
}

.text-svg-gray-1
{
	fill : $gray-1;
}

.text-svg-gray-2
{
	fill : $gray-2;
}

.text-svg-gray-3
{
	fill : $gray-3;
}

.text-svg-gray-4
{
	fill : #A0AEC0;
}

// Text decoration

.no-underline
{
	text-decoration: none;
}

.underline
{
	text-decoration: underline;
}

// Transformation text
.normalcase
{
	text-transform: none;
}

.uppercase
{
	text-transform: uppercase;
}

.lowercase
{
	text-transform: lowercase;
}

.capitalize
{
	text-transform: capitalize;
}

// alignment text
.align-baseline
{
	vertical-align: baseline;
}

.align-top
{
	vertical-align: top;
}

.align-middle
{
	vertical-align: middle;
}

.align-bottom
{
	vertical-align: bottom;
}

.align-text-top
{
	vertical-align: text-top;
}

.align-text-bottom
{
	vertical-align: text-bottom;
}

// White space

.whitespace-normal
{
	white-space: normal;
}

.whitespace-no-wrap
{
	white-space: no-wrap;
}

// Break words

.break-normal
{
	word-break: normal;
	overflow-wrap: normal;
}

.break-words
{
	overflow-wrap: break-word;
}

.break-all
{
	word-break: break-all;
}

.truncate
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// filters
.filter-blue {
	filter: invert(100%) sepia(79%) saturate(2048%) hue-rotate(120deg) brightness(55%) contrast(200%);
}

.filter-red
{
	filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

// first letter

.fl-lg::first-letter {
	font-size: calc(100% + 50%);
}

// Case
.fl-upper::first-letter
{
	text-transform: uppercase;
}

.fl-lower::first-letter
{
	text-transform: lowercase;
}

// media queries telephone
@media screen and (max-width: $size-sm) {
	$font-sizes: (
		"xs": 0.85rem,
		"sm": 1rem,
		"normal": 1.15rem,
		"lg": 1.35rem,
		"xl": 1.6rem,
		"2xl": 1.8rem,
		"3xl": 2rem,
		"4xl": 2.5rem,
		"5xl": 3.5rem,
	);

	@each $size-text, $size-value in $font-sizes {
		
		.text-#{$size-text} {
			font-size: $size-value;
		}
	}
}

// Tablet
@media screen and (max-width: $size-md) {
	// Modified
	$font-sizes: (
		"xs": 0.8rem,
		"sm": 0.9rem,
		"normal": 1.1rem,
		"lg": 1.3rem,
		"xl": 1.4rem,
		"2xl": 1.6rem,
		"3xl": 1.9rem,
		"4xl": 2.5rem,
		"5xl": 3.5rem,
	);

	@each $size-text, $size-value in $font-sizes {
		
		.text-#{$size-text} {
			font-size: $size-value;
		}
	}
}