// Main material Color
$danger:            #E53E3E !default;
$primary:           #1C3F8F !default;
$secondary:         #718096 !default;
$warning:           #ED8936 !default;
$success:           #38A169 !default;

// Customing color
$blue-1:            #1C3F8F;
$blue-2:            #2B6CB0;
$blue-3:            #10275D;
$blue-4:            #2A4365;
$gray-1:            #EDEEF0;
$gray-2:            #EDEEF0;
$gray-3:            #1A202C;
$red-1:             #C53030;

$personal-color-1:  #F7FAFC;

// Font family
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i|Lilita+One|Montserrat:400,400i,500,500i,600,600i,700,700i|Roboto:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$font-family-1: 'Roboto', 'Rubik', 'Josefin Sans', sans-serif;
$font-family-2: 'Rubik', 'Montserrat', Georgia, serif;
$font-family-3: 'Roboto';

// Breakpoint
$size-sm: 320px;
$size-md: 768px;
$size-lg: 1200px;

// Border width
$border-width-1: 5px;
$border-width-2: 20px;
$border-width-3: 30px;

// Container width and grid
$container-width: 90%;
$columns: 12;
$goutiere: 10px;
